<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .w3-input {
            width: 30%;
        }
    </style>
</head>
<body>
<div th:replace="fragments/navbar" :: navbar>
    Navbar
</div>
<form class="w3-container"
      th:action="@{/products/add}"
      th:object="${product}"
      method="post"
      enctype="multipart/form-data">

    <label for="name">Name:</label>
    <input type="text" required minlength="3" maxlength="20" class="w3-input" id="name" th:field="${product.name}">
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></p>

    <label for="bestFor">Brand:</label>
    <input type="text" required minlength="3" maxlength="20" class="w3-input" id="bestFor" th:field="${product.brand}">
    <p th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}" style="color: red;"></p>
    <label for="price">Price:</label>
    <input type="number" required min="1" class="w3-input" id="price" th:field="${product.price}">
    <p  th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color: red;"></p>

    <input name="picture" type="file"/>

    <button type="submit">Add</button>
</form>
</body>
</html>