<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/products/add}" th:object="${product}" method="post">
    <label for="name">Name:</label>
    <input id="name" th:field="${product.name}">
    <label for="goodfor">goodfor:</label>
    <input id="goodfor" th:field="${product.getUsage}">
    <label for="price">price:</label>
    <input id="price" th:field="${product.price}">
    <button type="submit">Add</button>
</form>
</body>
</html>