<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <style>
        img {
            min-width: 240px;
            min-height: 240px;
            max-width: 100%;
            height: auto;
        }

        .box {
            display: flex;
            width: 360px;
            min-height: 360px;
            float: left;
            margin: 3px;
            padding: 3px;
        }
    </style>
</head>

<body>
<div th:replace="fragments/navbar" :: navbar>
    Navbar
</div>
<div class="box">
    <div th:each="product : ${products}">
        <img th:src="${product.getPictureViewModel().getUrl()}"/>
        <h3 th:text="'Product name: '+${product.name}"></h3>
        <h3 th:text="'Brand: '+${product.brand}"></h3>
        <h3 th:text="'Price: '+${product.price}+'BGN'"></h3>
    </div>
</div>
</body>
</html>