<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/user/login-and-register.css">
    <title>Title</title>
</head>
<body>
<form th:action="@{/users/register}" method="post" th:object="${registrationRequest}">


    <div class="input-parent">
        <label for="username">Username</label>
        <input type="text" minlength="3" required="required" id="username"
               th:field="${registrationRequest.username}"><br>

        <label for="firstName">Firstname</label>
        <input type="text" minlength="3" required="required" id="firstName" th:field="${registrationRequest.firstName}"><br>

        <label for="lastName">Lastname</label>
        <input type="text" minlength="3" required="required" id="lastName"
               th:field="${registrationRequest.lastName}"><br>

        <label for="email">Email</label>
        <input type="text" id="email" required="required" th:field="${registrationRequest.email}"><br>

        <label for="password">Pass</label>
        <input type="password" minlength="5" required="required" id="password"
               th:field="${registrationRequest.password}"><br>

        <label for="confirmPass">Confirm pass</label>
        <input type="password" minlength="5" required="required" id="confirmPass"
               th:field="${registrationRequest.confirmPassword}"><br>
    </div>
    <button type="submit">Register</button>

</form>

</body>
</html>