* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*html {*/
  /*  font-size: 60.5%;*/
  /*}*/

  /*body {*/
  /*  font-family: "montserrat", sans-serif;*/
  /*  background: #f2f1f7;*/
  /*}*/

  .main-head {
    /* background: #131c27; */
    background: #F5F5F5;
    color: rgb(0, 1, 2);
    position: sticky;
    top: 0px;
    z-index: 3;
    font-size:x-large;
    font-family: "montserrat", sans-serif;

  }
  
  nav {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 1.5rem;
    min-height: 8vh;
    align-items: center;
    flex-wrap: wrap;
  }
  
  nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  
  h1 {
    font-size: 2.2rem;
  }
  a {
    font-size: 1.5rem;
    color: rgb(0, 1, 2);
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;

  }
  
  #logo {
    flex: 2 1 40rem;
    font-family: "Pattaya", sans-serif;
    font-weight: 400;
  }
  
  nav a:hover {
    color: rgb(255, 255, 255);
    background-color: black;
    transition: all ease-in-out 150ms;
  }

  #underline{
      background-color: lightseagreen;
  }
  