<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>

<form th:action="@{/user/registration}" method="post" th:object="${registrationDto}"   class="needs-validation">


        <label for="username">Username</label>
        <input id="username" th:field="*{username}" class="small" th:errorclass="fieldError" >
    <div th:if="${#fields.hasErrors()}">
        <p>Fuck YOU</p>
    </div>
    <br>





    <label for="firstName">firstName</label>
    <input id="firstName" th:field="*{firstName}"><br>

    <label for="lastName">lastName</label>
    <input id="lastName" th:field="*{lastName}"><br>

    <label for="email">email</label>
    <input id="email" th:field="*{email}"><br>

    <label for="password">password</label>
    <input id="password" th:field="*{password}"><br>

    <label for="confirmPassword">confirmPassword</label>
    <input id="confirmPassword" th:field="*{confirmPassword}"><br>
    <button type="submit">Register</button>
</form>
</body>
</html>